# Старый редактор. На диске остаётся, в репозиторий не входит.
old/

# Сборки и кэш инструментов
build/
build-core/
build-asan/
.cache/
x64/
.vs/
BurnHopeEngine/
testscene/
newscenetest/
build-tsan/
cache/
imgui.ini
*.spv
